body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.cuadro_iniciar{
    padding-top: 30px;
}

.iniciar_sesion{
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-footer{
    padding-top: 100px;
}